# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# IDE-specific files
.vs/
.idea/
.vscode/

# Package files
*.nupkg
*.snupkg
**/[Pp]ackages/*

# Logs and temp files
*.log
*.vspscc
*.vssscc
~$*

# Database files
*.mdf
*.ldf
*.ndf
*.db

# Temporary files
*.bak
*.swp
*.tmp

# Publish and deployment files
publish/
*.publishsettings
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/

#Migrations
Migrations/*

# Miscellaneous files
*.pidb
*.pdb
*.mdb
*.vsix
*.sbr
*.tlog
*.dmp

# Secrets and configuration files
appsettings.Development.json
appsettings.Production.json
secrets.json
appsettings.json

# Node.js
node_modules/

# .NET Core specific
project.lock.json
project.fragment.lock.json
artifacts/
